.page-footer
  .page-footer__bar
    %li.page-footer__bar__privacy
      プライバシーポリシー
    %li.page-footer__bar__tos
      利用規約
    %li.page-footer__bar__sct
      特定商取引に関する表記
  = link_to "トップ" , root_path, class: 'page-footer__root'
  %p
    %small
      @To-Do, inc