.side-bar
  .task-list
    = link_to "新規作成", new_todo_list_path, class: "edit-task"
    .sort
      %p.sort__importance
        重要度
        %ul.importance-lank
          %li#lank-s
            Sランク
          %li#lank-A
            Aランク
          %li#lank-B
            Bランク
          %li#lank-C
            Cランク
          %li#lank-D
            Dランク
      %p.sort__star
        難易度別
        %ul.ster-characters
          %li#sters-5
            ★★★★★
          %li#sters-4
            ★★★★
          %li#sters-3
            ★★★
          %li#sters-2
            ★★
          %li#sters-1
            ★
      %p.sort__d-line
        期限別
        %ul.d-line-limit
          %li#limit-year
            残り1年以内
          %li#limit-month
            残り1ヶ月以内
          %li#limit-week
            残り1週間以内
          %li#limit-day
            残り3日以内
          %li#limit-over
            期限切れ