@mixin button-base {
  margin: 0 auto;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 330px;
  margin-top: 15px;
  border: 1px solid transparent;
  position: relative;
  i {
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 16px;
  }
}

.account-page {
  height: 100%;
  background-size: 10px 10px;
  &__header {
    height: 75px;
    line-height: 75px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    background-color: #eee;
    background-image: linear-gradient(#dedede 50%, transparent 50%, transparent);
    border-left: solid 6px red;
    justify-content: space-between;
    &__root {
      width: 200px;
      font-size: 30px;
      display: block;
      text-decoration: none;
      margin: 0 auto;
    }
    &__user-manage, &__login-out {
      float: right;
      @extend .account-page__header__root
    }
  }
  &__content {
    display: block;
    height: 100vh;
    padding: 50px 0 0 0;
    .contents {
      width: 460px;
      background-color: #f8f8f8;
      margin: 0 auto;
      &__head {
        font-size: 14px;
        text-align: center;
        padding: 40px 65px;
        border-left: solid 5px #0099e8;
        border-bottom: solid 5px #eeeeee;
        &__create {
          display: block;
          margin: 8px 0 0;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          text-decoration: none;
          color: #fff;
          line-height: 40px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      &__inner {
        padding: 40px 65px;
        &__facebook {
          @include button-base;
          background-color: #385185;
          color: #fff;
        }
        &__google {
          @include button-base;
          background-color: #fff;
          color: #222222;
          border: solid 1px #222222;
        }
      }
    }
  }
}

form {
  padding: 25px 65px 35px;
  .field {
    margin-bottom: 10px;
    &__label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      display: contents;
    }
    span {
      background-color: #ea352d;
      color: #f8f8f8;
      margin: 0 0 0 4px;
      padding: 2px 4px;
      font-size: 15px;
    }
    &__input {
      input {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        letter-spacing: 1px;
        margin-top: 8px;
      }
    }
  }
  .actions {
    margin: 24px 0;
    display: grid;
    .action {
      display: inline-block;
      background-color: #ea352d;
      color: #fff;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 2px;
    }
  }
  .edit__login-out {
    display: flex;
    &__btn {
      height: 40px;
      margin: auto;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      background-color: #fff;
      border-left: solid 6px red;
      color: #222;
    }
  }
  .pw__missing {
    display: block;
    margin: 40px 0 0;
    a {
      text-decoration: none;
      color: #0099e8;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.page-footer {
  width: 460px;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  &__bar {
    display: flex;
    padding: 20px 0 0 0;
    margin: 0 auto;
    li {
      margin: 0 0 0 50px;
      font-size: 10px;
      list-style: none;
    }
  }
  &__root {
    display: block;
    margin: 0 auto;
  }
}
foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}