* {
  box-sizing: border-box;
}

html {
  background-image: image-url("eagle_image.jpg");
  background-size: cover;
}

.header {
  height: 50px;
  width: 100%;
  color: #111111;
  background-color: mediumslateblue;
  position: fixed;
  display: flex;
  .title {
    width: 95px;
    font-size: 25px;
    line-height: 50px;
    padding-left: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .user {
    display: flex;
    padding-left: 207px;
    &__name {
      height: 40px;
      width: 200px;
      font-size: 20px;
      margin: auto;
      line-height: 40px;
      text-align: start;
      background-color: $white;
      border-left: solid 10px #ff7c5c;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      position: relative;
      &__edit {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 2px;
        right: 0;
      }
    }
    .achievement {
      display: flex;
      padding: 0 100px 0 30px;
      &__percent {
        line-height: 50px;
      }
      &__bar {
        height: 20px;
        margin: 15px;
        background-color: #fff;
      }
    }
    #header-clock {
      width: 100%;
      display: flex;
    }
  }
}

.side-bar {
  height: 100%;
  width: 300px;
  float: left;
  padding-top: 50px;
  position: fixed;
  .task-list {
    height: 100vh;
    width: 300px;
    background-color: #444444;
    color: $white;
    padding: 10px;
    .edit-task {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      background-color: silver;
      border-left: solid 6px yellow;
      color: black;
      &:hover {
        color: blueviolet;
        background-color: yellow;
        border-left: solid 6px silver;
      }
      &:active {
        box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
        transform: translateY(2px);
      }
    }
    .sort {
      margin-top: 20px;
      justify-content: space-between;
      &__importance {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        background-color: #f7f7f7;
        border-left: solid 6px #ff7c5c;
        color: #ff7c5c;
      }
      &__d-line {
        @extend .sort__importance
      }
      &__star {
        @extend .sort__importance
      }
      ul {
        list-style: none;
        margin-top: 5px;
        margin-bottom: 20px;
        li {
          padding: 1px 0 5px 0;
        }
        li:hover {
          color: #ff7c5c;
          text-decoration: underline;
        }
      }
    }
  }
}

.main-list {
  background-color: white;
  float: right;
  width: calc(100vw - 300px);
  padding-top: 50px;
  overflow: scroll;
  .task {
    padding: 35px 40px;
    border-left: solid 10px #ff7c5c;
    border-bottom: solid 2px #777777;
    &__delete {
      float: right;
      padding: 0.5em 1em;
      text-decoration: none;
      font-weight: bold;
      border-radius: 50%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      background-color: red;
      color: black;
      &--alt {
        @extend .task__delete;
        background-color: gray;
        color: black;
      }
      &__link {
        color: white;
        text-decoration: none;
      }
    }
    &__title {
      font-size: 20px;
    }
    &__content {
      display: none;
    }
    &__creater, &__created_at, &__option {
      font-size: 15px;
      padding-top: 10px;
      display: flex;
      p {
        width: 200px;
        padding: 10px 10px 0 0;
        font-size: 15px;
      }
    }
  }
  .task:hover {
    height: 250px;
    color: #ffffff;
    background-color: #ff7c5c;
    border-left: solid 10px #ffffff;
    .task__content {
      display: flex;
      padding: 40px 0;
    }
  }
}